@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    
    <abbr title="Phone">Phone :</abbr>
    0860649945
</address>

<address>
    <strong>Support:</strong>   <a href="">jirawat.ch@mandala.co.th</a><br />
    
</address>